.navbar{
  background-color: white;
  color:black;
  font-weight: bold;
 
}
.nav{
  text-align: right !important;
}
.header img{
  background-size: center;
  background-repeat: no-repeat;
  height: 800px;
}

.homeimg{
  width: 100%;
  margin: 0 auto;
}
.quantity{
  background: orange;
  border-radius: 7px;
}
